@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

body {
  background: #d9a7c7;
  background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
  background: linear-gradient(to left, #fffcdc, #d9a7c7);
  height: 100vh;
  margin: 0;
}

img {
  width: 200px;
  border: 5px solid rgb(23, 22, 22);
}

#title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  padding-top: 220px;
  margin-left: 50px;
}

#body-text {
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-left: 55px;
}

.image-text {
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  padding: 15px;
}

a {
  text-decoration: none;
}

/* page 2, 3, 4, 5 */

#sub-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Kanit", sans-serif;
  padding-top: 100px;
  margin-left: 80px;
}

.page-content {
  display: flex;
  gap: 80px;
}

#body-text-pages {
  color: rgb(0, 0, 0);
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 80px;
  margin-right: 50px;
}

#image-pages {
  width: 300px;
  margin-left: 180px;
  margin-top: 80px;
  flex: 0 0 auto;
}

/* Navigation Bar Styling - https://www.w3schools.com/css/css_navbar.asp */

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ac87c5;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  display: block;
  color: white;
  font-size: large;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list li a:hover {
  background-color: #e0aed0;
}

/* image flexbox */

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 110px;
}

.image-container > * {
  flex: 1;
}
